<!DOCTYPE html>
<html>
	<head>
		<title>enduro.js page</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,200" rel="stylesheet">
		<style type="text/css"></style>
	</head>
	<body>
	
<form class="contact-form" action="/contact" method="post">
    <div class="firstName field">
      <label for="first-name">First Name</label>
      <input type="text" name="firstName" value="" placeholder="">
    </div>

    <div class="lastName field">
      <label for="last-name">Last Name</label>
      <input type="text" name="lastName" value="" placeholder="">
    </div>

    <div class="email field">
      <label for="email">Email</label>
      <input type="email" name="email" value="" placeholder="">
    </div>

    <div class="message field">
      <label for="message">Message</label>
      <textarea name="message" rows="8"></textarea>
    </div>

    <div class="submit-button field">
      <button class="submit" type="submit">Submit</button>
    </div>

  </form>
	</body>

</html>


	{{!-- intro
		{{#with first_slide}}
			<section class="screen">
				<div class="center_block">
					<p class="huge">{{header}}</p>
					<p>{{tagline}}</p>
				</div>

				<div class="bottom_block vertical_pulsate">
					<p>{{call_to_action}}</p>
				</div>
			</section>
		{{/with}}

		{{#each instruction_points}}
			<section class="screen half color{{divisible @index 2 '1' '2'}}">
				<div class="center_block">
					<p class="huge">{{header}}</p>
					<p>{{tagline}}</p>
					<a target="_blank" class="button" href="{{link}}">Learn more</a>
				</div>
			</section>
		{{/each}}

		{{#with so_much_more_block}}
			<section class="screen half color1">
				<div class="center_block">
					<p class="huge">{{header}}</p>
					<p>{{tagline}}</p>
					<ul>
						{{#each list_of_topics}}
							<li>{{tagline}} <a target="_blank" href="">Here</a></li>
						{{/each}}
					</ul>
				</div>
			</section>
		{{/with}} 
		{{>footer}}--}}
